@import '~bootstrap-icons/font/bootstrap-icons.css';


:root {
  --ifm-color-primary: #4c769b;
  --ifm-color-primary-dark: #3e6077;
  --ifm-color-primary-darker: #2f475e;
  --ifm-color-primary-darkest: #202f3f;
  --ifm-color-primary-light: #6b9cb6;
  --ifm-color-primary-lighter: #8fb4c6;
  --ifm-color-primary-lightest: #b7e1eb;

  --ifm-color-secondary: #a24c6d;
  --ifm-color-secondary-light: #c78e9c;
  --ifm-color-secondary-dark: #8a3b54;

  --ifm-color-background: #f5f5f5;
  --ifm-color-background-dark: #eaeaea;
  --ifm-color-text: #333333;
  --ifm-color-text-light: #ffffff;
  --ifm-color-border: #d1d1d1;

  --ifm-color-error: #e74c3c;
  --ifm-color-success: #2ecc71;

  --ifm-color-link: #4c769b;
  --ifm-color-link-hover: #3e6077;

  --ifm-code-font-size: 95%;
}
details>summary {
  cursor: pointer;
}

.docusaurus-highlight-code-line {
  background-color: var(--ifm-color-primary);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

@media screen and (max-width: 996px) {
  :root {
    --ifm-font-size-base: 18px;
  }

  .hero .hero__title {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 997px) {
  :root {
    --ifm-font-size-base: 14px;
  }

  article header h1 {
    font-size: 2rem !important;
    color: var(--ifm-color-primary);
  }
}

h2 {
  font-size: 1.8rem;
  color: var(--ifm-color-primary);
}

h3 {
  font-size: 1.3rem;
  color: var(--ifm-color-primary);
}

h4 {
  font-size: 1.1rem;
  color: var(--ifm-color-primary);
}

a {
  color: var(--ifm-color-link);
}

.navbar {
  padding: 10px 20px;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}

.navbar__link--active {
  font-weight: bold;
  border-bottom: 2px solid var(--ifm-color-primary);
}

a:hover {
  color: var(--ifm-color-link-hover);
}

.description {
  font-size: 1.1rem;
  color: var(--ifm-color-primary);
}

.footer .footer__links a {
  font-size: 0.9rem;
  color: white;
  text-decoration: none;
}

.footer .footer__title {
  color:white;
  font-size: 1.0rem;
}

.logo {
  width: 96%;
  padding: 0px;
}

.navbar__logo {
  margin-right: 0px;
  padding-right: 0px;
}

.navbar__title {
  margin-left: 0px;
  padding-left: 0px;
}

.hideSearchbar {
  display: none;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-row {
  width: 75%;
}

.bottoneCustom {
  font-size: 1.8rem;
  margin-top: 5px;
  font-weight: 100;
  padding: 3px;
  transition: background-color 0.4s ease, color 0.4s ease, transform 0.4s ease;
}

.bottoneCustom:hover {
  background-color: white;
  color: #4c769b;
  transform: scale(1.11);
  
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 10%;
  width: 10%;
}

